section#about, section#contact {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: white;
  padding: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all .5s ease-in-out;
  visibility: hidden;
  overflow-y: scroll;
}
section#about.active, section#contact.active {
  visibility: visible;
  opacity: .98;
  overflow-y: scroll;
}

section button.close {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 300;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.hide-overflow {
  overflow: hidden;
}
span.divider {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: black;
  margin-bottom: 20px;
}

section#about p, section#contact p {
  line-height: 30px;
  margin-bottom: 10px;
}

section#about h1,
section#about h2,
section#contact h1,
section#contact h2 {
  margin-bottom: 10px;
}

section#about ul li, section#contact ul li {
  margin-bottom: 5px;
}

section#about img {
  width: 50%;
  height: 400px;
  display: block;
  margin: 0px auto;
}

@media screen and (max-width: 800px) {
  .hide-overflow {
    overflow: hidden;
  }
  section#about, section#contact {
    padding: 20px;
    padding-top: 100px;
  }
  section#about img {
    width: 100%;
    height: auto;
  }
}